.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 270px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-icon {
    width: 100px;
    height: 50px;
    display: flex;
    align-self: center;
}
.logo-title { 
    display: flex;
    align-self: center;
    font-size: 40px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red-text {
    color: #FF0040;

}
.white-text {
    color: white;
}

.header-buttons {
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.header-btn {
    font-size: 30px;
    display: flex;
    text-align: center;
    align-self: center;
    flex-direction: column;
}

.header-btn-underline {
    height: 4px;
    width: 100%;
    background-color: #FF0040;
    display: flex;
    flex-direction: column;
}

.information-container {
    width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.server-ip {
    display: block;
}

.server-version {
    display: block;
}