.main {
    display: flex;
}
/* .main-container {
    width: 1400px;
    height: 700px;
    background-color: #2A005E;
    display: flex;
    align-self: center;
} */
.priveleges {
}
.priveleges-list {
}
.priveleges-card {
}
.priveleges-card-titul {
}
.priveleges-card-icon {
}
.privileges-card-commands {
}